@import 'src/variables.scss';

div.typeahead-box {
    background-color: $gallery-white;
    border: 1px solid $alto-white;

    div.typeahead {
        font-size: 0.8rem;
        cursor: pointer;

        &:hover {
            background-color: $alto-white;
        }
    }
}
