<div class="release-archive-parameter">
    <label class="w-100 m-0" for="{{parameter.key}}">{{parameter.key}} <span *ngIf="parameter.value.mandatory" class="font-italic">(mandatory field)</span></label>
    <input id="{{parameter.key}}" type="text"
        class="form-select"
        [(ngModel)]="parameter.value.value"
        [required]="parameter.value.mandatory"
        matInput
        [matAutocomplete]="releaseAutoComplete">
    <mat-autocomplete #releaseAutoComplete="matAutocomplete" (optionSelected)="onReleaseChange()"> 
        <mat-option *ngFor="let option of getReleaseOptions()" [value]="option">
            {{option}}
        </mat-option>
    </mat-autocomplete>
    <div *ngIf="parameter.value?.description" class="form-text">{{parameter.value.description}}</div>
</div>