<div class="queue-screen" (click)="closeQueue()">
    <div class="queue p-3" (click)="$event.stopPropagation()">
        <h3 class="text-alto-white p-2">Reporting Platform Queue<span class="float-end m-0" (click)="closeQueue()">&times;</span></h3>
        <div *ngFor="let item of queueComplete" class="queue-report linkable rounded-3 row g-0 p-3 text-alto-white" (click)="viewReport($event, item)">
            <div class="col-6 pt-2">{{item.jobName}}</div>
            <div class="col-6 pt-2 text-end green">{{item.status}}<i class="ps-3 fas fa-check"></i></div>
            <div class="col-12 uuid slate">{{item.id}}</div>
            <div class="col-10 pt-2">{{item.user}}<span class="slate">@{{item.requestTime}}</span></div>
        </div>
        <div *ngFor="let item of queueFailed" class="queue-report rounded-3 row g-0 p-3 text-alto-white">
            <div class="col-6 pt-2">{{item.jobName}}</div>
            <div class="col-6 pt-2 text-end red">{{item.status}}<i class="ps-3 fas fa-times"></i></div>
            <div class="col-12 uuid slate">{{item.id}}</div>
            <div class="col-10 pt-2">{{item.user}}<span class="slate">@{{item.requestTime}}</span></div>
        </div>
        <div *ngFor="let item of queueInProgress" class="queue-report rounded-3 row g-0 p-3 text-alto-white">
            <div class="col-6 pt-2">{{item.jobName}}</div>
            <div class="col-6 pt-2 text-end blue">{{item.status}}<i class="ms-3 fas fa-spinner fa-spin"></i></div>
            <div class="col-12 uuid slate">{{item.id}}</div>
            <div class="col-10 pt-2">{{item.user}}<span class="slate">@{{item.requestTime}}</span></div>
        </div>
        <div *ngFor="let item of queueScheduled" class="queue-report rounded-3 row g-0 p-3 text-alto-white">
            <div class="col-6 pt-2">{{item.jobName}}</div>
            <div class="col-6 pt-2 text-end text-alto-white">{{item.status}}<i class="ps-3 far fa-clock"></i></div>
            <div class="col-12 uuid slate">{{item.id}}</div>
            <div class="col-10 pt-2">{{item.user}}<span class="slate">@{{item.requestTime}}</span></div>
        </div>
    </div>
</div>
