@import 'src/variables.scss';

div#reporting {
    margin-left: 256px;

    input.searchbar {
        font-size: 1.4rem;
        border-bottom: 1px $ghost-grey solid;
        cursor: text;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $regent-grey;
        opacity: 1; /* Firefox */
    }

    h4.report-title {
        font-weight: 300;
        font-size: 1.4rem;
    }

    div.accordion {
        border: 1px $alto-white solid;
        border-bottom: none;
        overflow: hidden;

        div.query {
            div.title {
                border-bottom: 1px $alto-white solid;
                background-color: $gallery-white;
                overflow: hidden;

                h3 {
                    font-weight: 300;
                    font-size: 1.1rem;
                }
            }

            div.content {
                border-bottom: 1px $alto-white solid;
                border-top: none;

                div.description {
                    position: relative;

                    p {
                        margin-right: 180px;
                    }

                    button {
                        position: absolute;
                        right: 0;
                        font-weight: 300;
                    }
                }

                div.report-header {
                    border-bottom: 1px solid $alto-white;

                    div.border-bar {
                        border-right: 1px solid $alto-white;
                    }
                }

                div.report {
                    position: relative;
                    border-bottom: 1px solid $alto-white;

                    &:hover {
                        background-color: $gallery-white;

                        > button.delete-button {
                            display: block;
                        }
                    }

                    div.border-bar {
                        border-right: 1px solid $alto-white;
                    }

                    div.completed {
                        cursor: pointer;
                        color: $forest-green;

                        &:hover {
                            color: $apple-green;
                        }
                    }

                    div.failed {
                        cursor: pointer;
                        color: $crimson-red;

                        &:hover {
                            color: $pomegranate-red;
                        }
                    }

                    button.delete-button {
                        display: none;
                        position: absolute;
                        right: -50px;
                        //opacity: 0;
                        background-color: transparent;
                        color: $crimson-red;
                        -webkit-animation: delete-move 200ms;
                        -webkit-animation-delay: 500ms;
                        -webkit-animation-fill-mode: forwards;
                        animation: delete-move 200ms;
                        animation-delay: 500ms;
                        animation-fill-mode: forwards;

                        @-webkit-keyframes delete-move {
                            from {
                                right: -50px;
                                opacity: 0;
                            }
                            to {
                                right: 0;
                                opacity: 1;
                            }
                        }

                        @keyframes delete-move {
                            from {
                                right: -50px;
                                opacity: 0;
                            }
                            to {
                                right: 0;
                                opacity: 1;
                            }
                        }

                        &:hover {
                            color: $pomegranate-red;
                        }
                    }
                }

                div.last-item {
                    border-bottom: none;
                }
            }
        }
    }
}
