<nav id="sidebar">
    <h5 class="p-3 mb-0">Categories</h5>
    <!--<input class="searchbar py-2 px-3" placeholder="Search...">-->
    <div *ngFor="let report of reports"
         class="category py-2 px-3"
         (click)="filterTypeSwitch(report.name)"
         [class.active]="report.name === filterType">{{report.name}}</div>
</nav>

<div id="reporting">
    <div class="p-3" *ngFor="let report of reports | type:filterType">
        <h4 class="report-title">{{report.name}}</h4>
        <ngb-accordion [closeOthers]="true" (panelChange)="activeReportSwitch($event)" class="w-100 pb-3">
            <ngb-panel *ngFor="let job of report.jobs" [class.active]="activeReport === job" id="{{job.name}}">
                <ng-template ngbPanelTitle>
                    <div class="title" (click)="activeJob = job">
                        {{job.name}}
                    </div>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="px-2 pb-3 description">
                        {{job.description}}
                        <button [disabled]="activeRun"
                                class="btn btn-primary float-right"
                                (click)="open(content)">Run Report
                        </button>
                    </div>
                    <div class="row query-title run p-2">
                        <div class="col-sm-2 border-bar">Date</div>
                        <div class="col-sm-1 border-bar">Issues</div>
                        <div class="col-sm-7 border-bar" *ngFor="let parameter of job.parameterNames">{{parameter}}</div>
                        <div class="col-sm-1 border-bar">User</div>
                        <div class="col-sm-1">Status</div>
                    </div>
                    <div *ngFor="let run of currentRuns"
                         class="row report run p-2"
                         [class.active]="activeRun === run"
                         (click)="activeRunSwitch(run)">
                        <div class="col-sm-2 border-bar">{{run.requestTime | date:'short'}}</div>
                        <div class="col-sm-1 border-bar">{{run.issuesReported ? run.issuesReported : '0'}}</div>
                        <div class="col-sm-7 border-bar" *ngFor="let item of run.parameters | keyvalue">
                            {{item.value}}
                        </div>
                        <div class="col-sm-1 border-bar">{{run.user}}</div>
                        <div class="col-sm-1">{{run.status}}</div>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>

    <div class="pt-5 text-right">
        <div class="col-sm">
            <button [disabled]="!activeRun || activeRun.status !== 'Complete'"
                    class="btn btn-primary m-3"
                    (click)="viewReport()">View Report
            </button>
        </div>
    </div>

    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Report Details</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <div *ngFor="let item of activeJob.parameterNames; let i = index">
                        <label for="{{item}}" class="col-sm-4">{{item}}</label>
                        <input id="{{item}}" type="text" class="input-border col-sm-8" name="{{item}}" [(ngModel)]="parameters[i]">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="close('Save click')">Run Report</button>
        </div>
    </ng-template>
</div>


