<div class="reporting">
    <div class="row py-5 justify-content-center">
        <label class="py-2 m-2">Categories:</label>
        <div *ngFor="let report of reports">
            <button class="btn-filter py-2 px-3 m-2"
                    [class.active]="filterType === report.name"
                    (click)="filterTypeSwitch(report.name)">{{report.name}}</button>
        </div>
    </div>
    <div class="row" *ngFor="let report of reports | type:filterType">
        <ngb-accordion [closeOthers]="true" activeIds="" (panelChange)="activeReportSwitch($event)">
          <ngb-panel *ngFor="let job of report.jobs" [class.active]="activeReport === job" id="{{job.name}}" title="{{job.name}}">
            <ng-template ngbPanelContent>
                {{job.description}}
                <div class="row report run p-2">
                    <div class="col-sm-1 border-bar">Date</div>
                    <div class="col-sm-1 border-bar">Issues</div>
                    <div class="col-sm-3 border-bar" *ngFor="let parameter of job.parameterNames">{{parameter}}</div>
                    <div class="col-sm-2 border-bar">User</div>
                    <div class="col-sm-2">Status</div>
                </div>
                <div *ngFor="let run of currentRuns"
                     class="row report run p-2"
                     [class.active]="activeRun === run"
                     (click)="activeRunSwitch(run)">
                    <div class="col-sm-1 border-bar">{{run.requestTime}}</div>
                    <div class="col-sm-1 border-bar">{{run.issuesReported}}</div>
                    <div class="col-sm-3 border-bar" *ngFor="let parameter of run.parameters">
                        <div *ngIf="parameter.value !== null || parameter.value !== 'undefined' || parameter.value !== ''">{{parameter.value}}</div>
                        <div *ngIf="parameter.value === null || parameter.value === 'undefined' || parameter.value === ''">-</div>
                    </div>
                    <div class="col-sm-2 border-bar">{{run.user}}</div>
                    <div class="col-sm-2">{{run.status}}</div>
                </div>
            </ng-template>
          </ngb-panel>

        </ngb-accordion>
    </div>
   
    <div class="row justify-content-center">
        <div class="pt-2 text-right">
            <div class="col-sm">
                <button [disabled]="!activeReport"
                        class="btn btn-primary m-3"
                        (click)="submitReport()">Run Report</button>
            </div>
        </div>
        <div class="pt-2 text-right">
            <div class="col-sm">
                <button [disabled]="!activeRun || activeRun.status !== 'Complete'"
                        class="btn btn-primary m-3"
                        (click)="viewReport()">View Report</button>
            </div>
        </div>
    </div>
</div>