@import 'src/variables.scss';

nav#sidebar {
    position: fixed;
    width: 256px;
    height: calc(100vh - 56px);
    background: $alto-white;

    h5 {
        font-weight: 300;
        border-bottom: 1px $ghost-grey solid;
    }

    //div.searchbar {
        input.searchbar {
            background-color: $gallery-white;
            width: 100%;
            border-bottom: 1px $ghost-grey solid;
            color: $scorpion-grey;
            cursor: text;
        }

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $regent-grey;
            font-weight: 300;
            opacity: 1; /* Firefox */
        }
    //}

    div.category {
        width: 100%;
        color: $scorpion-grey;
        cursor: pointer;
        border-bottom: 1px $ghost-grey solid;

        &:hover {
            background-color: $ghost-grey;
        }

        &.active {
            background-color: $tropical-blue;

            &:hover {
                background-color: $jordy-blue;
            }
        }
    }
}

div#reporting {
    margin-left: 256px;

    h4.report-title {
        font-weight: 300;
        font-size: 1.4rem;
    }

    ngb-accordion {
        div.title {
            font-weight: 300;
            color: $emperor-grey;
        }

        div.query-title {
            border-bottom: 1px solid $alto-white;

            div.border-bar {
                border-right: 1px solid $alto-white;
            }
        }

        div.report {
            border-bottom: 1px solid $alto-white;

            &:hover {
                cursor: pointer;
                background-color: $gallery-white;
            }

            &.active {
                background-color: $onahau-blue;
            }

            div.border-bar {
                border-right: 1px solid $alto-white;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }

    button {
        font-weight: 300;

        &.btn-filter {
            background-color: $gallery-white;
            border-radius: 1.5rem;

            &:hover {
                background-color: $alto-white;
            }
        }

        &.active {
            background-color: $tropical-blue;

            &:hover {
                background-color: $jordy-blue;
            }
        }
    }


}

div.modal-body {
    input.input-border {
        border: 1px solid $alto-white;
        border-radius: 0.25rem;
    }
}
