@import 'src/variables.scss';

div.reporting {
    font-weight: 300;

    h4.report-title {
        font-weight: 300;
        font-size: 1.4rem;
    }

    ngb-accordion {
        div.title {
            font-weight: 300;
            color: $orient-blue;
        }

        div.query-title {
            border-bottom: 1px solid $alto-white;

            div.border-bar {
                border-right: 1px solid $alto-white;
            }
        }

        div.report {
            border-bottom: 1px solid $alto-white;

            &:hover {
                cursor: pointer;
                background-color: $gallery-white;
            }

            &.active {
                background-color: $onahau-blue;
            }

            div.border-bar {
                border-right: 1px solid $alto-white;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }

    button {
        font-weight: 300;

        &.btn-filter {
            background-color: $gallery-white;
            border-radius: 1.5rem;

            &:hover {
                background-color: $alto-white;
            }
        }

        &.active {
            background-color: $onahau-blue;

            &:hover {
                background-color: $sail-blue;
            }
        }
    }


}

div.modal-body {
    input.input-border {
        border: 1px solid $alto-white;
        border-radius: 0.25rem;
    }
}
