<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Whitelist<span class="px-2">{{query.name}}</span></h3>
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="position-relative">
                <label class="w-100 m-0">Add concept to whitelist</label>
                <input class="w-100 rounded input-border" [(ngModel)]="searchTerm">
                <app-snomed-typeahead [searchTerm]="searchTerm" [activeFilter]="null" (selectEmitter)="addToWhitelist($event)"></app-snomed-typeahead>
            </div>

            <table class="table table-bordered rounded mt-3 mb-0 overflow-hidden">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
                <tr *ngFor="let concept of whitelist">
                    <td>{{concept.sctId}}</td>
                    <td>{{concept.fsn}}
                        <button class="delete-button pt-1 mt-2" (click)="removeFromWhitelist(concept)"><i class="fas fa-minus"></i></button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="saveWhitelist()" data-dismiss="modal">Save Whitelist</button>
        </div>
    </div>
</div>
