@import '~src/variables.scss';

app-modal {
    /* modals are hidden by default */
    display: none;
    max-height: 90vh;

    div.modal-large {
        max-width: 100rem;
    }

    div.modal-dialog {
        z-index: 1000;

        div.modal-content {
            div.modal-header {
                div {
                    display: inherit;
                }

                h3 {
                    line-height: inherit;

                    span {
                        color: $dove-grey;
                        font-weight: 300;
                        font-size: 1.4rem;
                    }
                }


                button > span {
                    font-size: 2rem;
                }
            }

            div.modal-body {
                max-height: calc(90vh - 12rem);
                //overflow: scroll;

                label {
                    font-size: 1.4rem;
                    color: $scorpion-grey;
                    line-height: 1rem;

                    span {
                        font-size: 1.2rem;
                    }
                }

                input, textarea {
                    cursor: text;
                    font-size: 1.4rem;
                    font-weight: 300;
                    color: $black;

                    &.input-border {
                        border: 1px solid $alto-white;
                    }
                }

                select {
                    font-size: 1.4rem;
                    font-weight: 300;
                }

                textarea {
                    cursor: text;
                    height: 8rem;
                    resize: none;
                }

                div.note {
                    font-size: 1.2rem;
                    color: $scorpion-grey;
                }

                span.ready-concept {
                    font-size: 1.2rem;
                    background: $jordy-blue;
                    border-radius: 1rem;
                    position: relative;
                    cursor: default;

                    span.remove-ready-concept {
                        display: none;
                        position: absolute;
                        right: 0;
                        background-color: $horizon-blue;
                        width: 1.8rem;
                    }

                    &:hover > span.remove-ready-concept {
                        display: inline-block;
                    }
                }

                div.table-container {
                    max-height: 32rem;
                    overflow: scroll;

                    table {
                        position: relative;
                        border: none;

                        tr {
                            border-bottom: 1px solid #DEE2E6;

                            th {
                                font-weight: 400;
                                background-color: $gallery-white;
                                position: sticky;
                                top: 0;
                                z-index: 3;
                                border-bottom: 1px solid #DEE2E6;

                                &:first-child {
                                    border-right: 1px solid #DEE2E6;
                                }
                            }

                            td {
                                button.delete-button {
                                    display: none;
                                    position: absolute;
                                    right: 0;
                                    background-color: transparent;
                                    color: $crimson-red;

                                    &:hover {
                                        color: $pomegranate-red;
                                    }
                                }

                                &:first-child {
                                    border-right: 1px solid #DEE2E6;
                                }

                                &.font-size-12 {
                                    font-size: 1.2rem;
                                }
                            }

                            &.new {
                                color: $curious-blue;
                            }

                            &:hover {
                                td {
                                    background-color: $gallery-white;

                                    > button.delete-button {
                                        display: inline-block;
                                        z-index: 2;
                                    }
                                }
                            }

                            &:last-child {
                                border-bottom: none;
                            }
                        }
                    }
                }
            }

            div.modal-footer {
                overflow: hidden;

                div {
                    display: inline-block;
                }

                div.saved {
                    color: $forest-green;
                }

                div.error {
                    color: $crimson-red;
                }

                button {
                    font-weight: 300;
                }
            }
        }
    }

    .app-modal-background {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-color: #000;
        opacity: 0.75;

        z-index: 900;
    }
}

body.app-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}
