<nav class="navbar sticky-top navbar-dark bg-dark p-2 pr-2">
    <a routerLink="/dashboard">
        <img class="logo mr-2 p-0" src="/reporting/assets/small_logo.png">
        <span class="title">SNOMED CT Reporting Platform</span>
    </a>
    <ng-container [ngSwitch]="environment">
        <div *ngSwitchCase="'local'" class="banner local"></div>
        <div *ngSwitchCase="'dev'" class="banner dev"></div>
        <div *ngSwitchCase="'uat'" class="banner uat"></div>
        <div *ngSwitchCase="'training'" class="banner training"></div>
        <div *ngSwitchDefault class="banner d-none"></div>
    </ng-container>
    <div class="mr-auto pl-5 ml-5 pt-2">
        <label for="projectList" class="mr-2">Project</label>
        <select id="projectList" class="min-w-150 form-control" [(ngModel)]="activeProject" (ngModelChange)="notifyReportingComponent()">
            <option *ngFor="let project of projects" [ngValue]="project">{{project.key}}</option>
        </select>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-3">
        <a href="https://prod-dailybuild.ihtsdotools.org/qa/" target="_blank" class="text-right d-block mb-0 px-2">Daily Build Browser<i class="fas fa-external-link-alt ml-2"></i></a>
    </div>
</div>
