<footer class="footer bg-dark">
    <a class="px-3 text-ghost-grey" href="http://www.snomed.org/" target="_blank">Copyright © {{year}} SNOMED International</a>
    <a class="px-3 text-ghost-grey" [href]="uiConfiguration ? uiConfiguration.endpoints.reportingUserGuideEndpoint : 'https://confluence.ihtsdotools.org/display/SIAPUG/Reporting+Platform'" target="_blank">User Guide</a>
    <a class="px-3 text-ghost-grey" [href]="uiConfiguration? uiConfiguration.endpoints.contactUsEndpoint : 'http://www.snomed.org/contact-us/'" target="_blank">Contact Us</a>
    <a class="px-3 text-ghost-grey" href="https://drive.google.com/drive/u/0/folders/1Wdy70g_0rhT4NETDo_zyomuzhJ3-cBZb" target="_blank">Report Catalogue</a>
    <button class="btn btn-primary m-2 px-3 py-1 float-end" id="jiraIssueCollector">Raise an Issue</button>
</footer>
