@import 'src/variables.scss';

div.modal {
    z-index: 10001;
    display: initial;

    div.modal-header {
        button > span {
            font-size: 2rem;
        }
    }

    div.modal-body {

        label {
            font-size: 1.4rem;
            color: $scorpion-grey;
            line-height: 1rem;
        }

        input, textarea {
            cursor: text;

            &.input-border {
                border: 1px solid $alto-white;
            }
        }

        textarea {
            height: 8rem;
            resize: none;
        }

        div.typeahead-textarea {
            top: 103px;
        }

        mat-checkbox {
            position: absolute;
            top: 2px;
        }

        div.note {
            font-size: 1.2rem;
            color: $scorpion-grey;
        }
    }

    div.modal-footer {
        button {
            font-weight: 300;
        }
    }
}
