<div *ngIf="query" id="query-parameters">
    <div *ngFor="let parameter of query?.parameters | keyvalue | displayOrder" class="pb-2 position-relative">
        <ng-container [ngSwitch]="parameter.value.type">
            <div *ngSwitchCase="'CONCEPT'">
                <label class="w-100 m-0" for="{{parameter.key}}">{{parameter.key}} <span *ngIf="parameter.value.mandatory" class="font-italic">(mandatory field)</span></label>
                <input class="w-100 rounded input-border px-1" type="text" class="form-control" [(ngModel)]="parameter?.value.value" [ngbTypeahead]="search" [required]="parameter.value.mandatory" (ngModelChange)="parameter?.value.value === 'No results found' ? parameter?.value.value = '' : parameter?.value.value"/>
            </div>
            <div *ngSwitchCase="'BOOLEAN'">
                <label class="m-0" for="{{parameter.key}}">{{parameter.key}}</label>
                <div class="w-100">
                    <mat-checkbox id="{{parameter.key}}" name="{{parameter.key}}" [(ngModel)]="parameter.value.value" class="pl-2"></mat-checkbox>
                </div>
            </div>
            <div *ngSwitchCase="'STRING'">
                <label class="w-100 m-0" for="{{parameter.key}}">{{parameter.key}} <span *ngIf="parameter.value.mandatory" class="font-italic">(mandatory field)</span></label>
                <input id="{{parameter.key}}" name="{{parameter.key}}" class="w-100 rounded input-border px-1" [(ngModel)]="parameter.value.value" [required]="parameter.value.mandatory">
            </div>
            <div *ngSwitchCase="'CONCEPT_LIST'">
                <label class="w-100 m-0" for="{{parameter.key}}">{{parameter.key}} <span *ngIf="parameter.value.mandatory" class="font-italic">(mandatory field)</span></label>
                <input type="text" class="form-control" [(ngModel)]="searchTerm" [ngbTypeahead]="search" (keyup.enter)="retrieveConceptsById(searchTerm, parameter.key)" (ngModelChange)="searchTerm === 'No results found' ? searchTerm = '' : searchTerm"/>
                <div class="note font-italic">Multiple hierarchies can be entered via comma separation</div>
                <span *ngFor="let readyConcept of convertStringListToShortConceptList(parameter.value.value)" class="ready-concept d-inline-block px-2 m-1 ">{{readyConcept?.fsn}}
                    <span class="remove-ready-concept text-center rounded-circle px-1" (click)="removeFromWhitelistReadyConcepts(readyConcept, parameter.key)"><i class="fas fa-times"></i></span>
                </span>
            </div>
            <div *ngSwitchCase="'TEMPLATE_NAME'">
                <label class="w-100 m-0" for="{{parameter.key}}">{{parameter.key}} <span *ngIf="parameter.value.mandatory" class="font-italic">(mandatory field)</span></label>
                <select id="{{parameter.key}}" class="form-control" [(ngModel)]="parameter.value.value" [required]="parameter.value.mandatory">
                    <option selected></option>
                    <option *ngFor="let template of templates | orderBy:'name'">{{template.name}}</option>
                </select>
            </div>
            <div *ngSwitchCase="'TEMPLATE'">
                <label class="w-100 m-0" for="{{parameter.key}}">{{parameter.key}} <span *ngIf="parameter.value.mandatory" class="font-italic">(mandatory field)</span></label>
                <textarea class="w-100 rounded input-border px-1" id="{{parameter.key}}" [(ngModel)]="parameter.value.value" [required]="parameter.value.mandatory"></textarea>
            </div>
            <div *ngSwitchCase="'ECL'">
                <label class="w-100 m-0" for="{{parameter.key}}">{{parameter.key}} <span *ngIf="parameter.value.mandatory" class="font-italic">(mandatory field)</span></label>
                <textarea class="w-100 rounded input-border px-1" id="{{parameter.key}}" [(ngModel)]="parameter.value.value" [required]="parameter.value.mandatory"></textarea>
            </div>
            <div *ngSwitchCase="'PROJECT'">
                <label class="w-100 m-0" for="{{parameter.key}}">{{parameter.key}} <span *ngIf="parameter.value.mandatory" class="font-italic">(mandatory field)</span></label>
                <select id="{{parameter.key}}" class="form-control" [(ngModel)]="parameter.value.value" [required]="parameter.value.mandatory">
                    <option selected>MAIN</option>
                    <option *ngFor="let project of projects | orderBy:'title'">{{project.key}}</option>
                </select>
            </div>
            <div *ngSwitchCase="'HIDDEN'"></div>
            <div *ngSwitchDefault>
                <label class="w-100 m-0" for="{{parameter.key}}">{{parameter.key}}</label>
                <input id="{{parameter.key}}" name="{{parameter.key}}" class="w-100 rounded input-border px-1" [(ngModel)]="parameter.value.value">
            </div>
        </ng-container>
    </div>

</div>
