div#query-parameters {
    input[type=checkbox] {
        font-size: 1.4rem;
    }

    select.form-select {
        font-size: 1.4rem;
    }

    .ng-valid[required], .ng-valid.required  {
        border-left: 5px solid #42A948; /* green */
    }

    .ng-invalid:not(form)  {
        border-left: 5px solid #a94442; /* red */
    }
}

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    color: #6c757d;
    vertical-align: -0.125em;
    border: 0.15em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: 0.75s linear infinite spinner-border;
    animation: 0.75s linear infinite spinner-border;
}

.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: 0.2em;
}
