<nav id="sidebar" class="footer-margin">
    <h3 class="p-3 mb-0">Reports</h3>
    <input type="search" class="searchbar py-2 px-3" [(ngModel)]="textFilter" placeholder="Search for Reports...">
    <div class="mx-0 p-1 row category">
        <div *ngFor="let category of reports; let i = index" class="col-6 p-1">
            <div class="p-1 px-2 rounded text-center {{colors[i]}}" (click)="selectCategory(category.name)" [class.active]="categoryFilter === category.name">{{category.name}}</div>
        </div>
    </div>
    <ng-container *ngFor="let category of reports; let i = index">
        <ng-container *ngIf="!categoryFilter || category.name === categoryFilter">
            <div *ngFor="let report of category.jobs | alphabetical:'name':category.name | textFilter:textFilter | tags:msUser" class="report py-2 px-3 {{colors[i]}}-border"
                 (click)="selectReport(report)"
                 [class.active]="activeReport === report">{{report.name}}</div>
        </ng-container>

    </ng-container>
</nav>
