@import '~src/variables.scss';

nav#sidebar {
    position: fixed;
    width: 192px;
    height: calc(100vh - 56px);
    background: $alto-white;

    h3 {
        border-bottom: 1px $ghost-grey solid;
    }

    input.searchbar {
        font-size: 1.4rem;
        background-color: $gallery-white;
        width: 100%;
        border-bottom: 1px $ghost-grey solid;
        color: $scorpion-grey;
        cursor: text;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $regent-grey;
        font-weight: 300;
        opacity: 1; /* Firefox */
    }

    div.category {
        font-size: 1.4rem;
        width: 100%;
        color: $scorpion-grey;
        cursor: pointer;
        border-bottom: 1px $ghost-grey solid;

        &:hover {
            background-color: $ghost-grey;
        }

        &.active {
            background-color: $tropical-blue;

            &:hover {
                background-color: $jordy-blue;
            }
        }
    }
}
