@use '../../../variables' as *;
@use 'sass:color';

nav#sidebar {
    position: fixed;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    background: $alto-white;

    div.loading {
        background: $alto-white;
        width: 32rem;
        height: calc(100vh - 90px);
    }

    div.head {
        background: $alto-white;
        width: 32rem;

        h3 {
            border-bottom: 1px $ghost-grey solid;
            height: 4rem;

            span {
                font-size: 1.2rem;
                color: $grey;
            }
        }

        input.searchbar {
            font-size: 1.4rem;
            background-color: color.adjust($alto-white, $lightness: 10%);
            width: 100%;
            border-bottom: 1px $ghost-grey solid;
            color: $bootstrap-black;
            cursor: text;
        }

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $grey;
            font-weight: 300;
            opacity: 1; /* Firefox */
        }

        div.category {
            cursor: pointer;
            border-bottom: 1px solid $ghost-grey;

            div {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    div.reports {
        background: $alto-white;
        width: 32rem;
        overflow: auto;

        div.report {
            font-size: 1.2rem;
            width: 100%;
            color: $bootstrap-black;
            cursor: pointer;
            border-bottom: 1px $ghost-grey solid;

            &:hover {
                background-color: color.adjust($alto-white, $lightness: -5%);
            }

            &.active {
                background-color: $anakiwa;

                &:hover {
                   background-color: color.adjust($anakiwa, $lightness: -5%);
                }
            }
        }
    }
}

$spring-rain: #95BB95;
$london-hue: #B695BB;
$vanilla: #BBAE95;
$dull-lavender: #A0A5E3;
$tonys-pink: #E98689;
$green-mist: #7DC1B3;
$ghostly-grey: #8C99A6;
$sunflower-yellow: #F6DC8B;
$porsche-orange: #EDB273;

.spring-rain {
    background-color: color.adjust($spring-rain, $lightness: 10%) !important;

    &:hover {
        background-color: color.adjust($spring-rain, $lightness: -20%) !important;
        color: $white;
    }

    &.active {
       background-color: color.adjust($spring-rain, $lightness: -30%) !important;
        color: $white;
    }
}

.london-hue {
    background-color: color.adjust($london-hue, $lightness: 10%) !important;

    &:hover {
        background-color: color.adjust($london-hue, $lightness: -20%) !important;
        color: $white;
    }

    &.active {
        background-color: color.adjust($london-hue, $lightness: -30%) !important;
        color: $white;
    }
}

.vanilla {
    background-color: color.adjust($vanilla, $lightness: 10%) !important;

    &:hover {
        background-color: color.adjust($vanilla, $lightness: -20%) !important;
        color: $white;
    }

    &.active {
        background-color: color.adjust($vanilla, $lightness: -30%) !important;
        color: $white;
    }
}

.dull-lavender {
    background-color: color.adjust($dull-lavender, $lightness: 10%) !important;

    &:hover {
        background-color: color.adjust($dull-lavender, $lightness: -20%) !important;
        color: $white;
    }

    &.active {
        background-color: color.adjust($dull-lavender, $lightness: -30%) !important;
        color: $white;
    }
}

.tonys-pink {
    background-color: color.adjust($tonys-pink, $lightness: 10%) !important;

    &:hover {
        background-color: color.adjust($tonys-pink, $lightness: -20%) !important;
        color: $white;
    }

    &.active {
        background-color: color.adjust($tonys-pink, $lightness: -30%) !important;
        color: $white;
    }
}

.green-mist {
    background-color: color.adjust($green-mist, $lightness: 10%) !important;

    &:hover, &.active {
        background-color: color.adjust($green-mist, $lightness: -20%) !important;
        color: $white;
    }

    &.active {
        background-color: color.adjust($green-mist, $lightness: -30%) !important;
        color: $white;
    }
}

.ghostly-grey {
    background-color: color.adjust($ghostly-grey, $lightness: 10%) !important;

    &:hover, &.active {
        background-color: color.adjust($ghostly-grey, $lightness: -20%) !important;
        color: $white;
    }

    &.active {
        background-color: color.adjust($ghostly-grey, $lightness: -30%) !important;
        color: $white;
    }
}

.porsche-orange {
    background-color: color.adjust($porsche-orange, $lightness: 10%) !important;

    &:hover, &.active {
        background-color: color.adjust($porsche-orange, $lightness: -20%) !important;
        color: $white;
    }

    &.active {
        background-color: color.adjust($porsche-orange, $lightness: -30%) !important;
        color: $white;
    }
}

.sunflower-yellow {
   background-color: color.adjust($sunflower-yellow, $lightness: 10%) !important;

    &:hover, &.active {
        background-color: color.adjust($sunflower-yellow, $lightness: -20%) !important;
        color: $white;
    }

    &.active {
        background-color: color.adjust($sunflower-yellow, $lightness: -30%) !important;
        color: $white;
    }
}

.spring-rain-border {
    border-left: solid 5px color.adjust($spring-rain, $lightness: 10%) !important;
}

.london-hue-border {
    border-left: solid 5px color.adjust($london-hue, $lightness: 10%) !important;
}

.vanilla-border {
    border-left: solid 5px color.adjust($vanilla, $lightness: 10%) !important;
}

.dull-lavender-border {
  border-left: solid 5px color.adjust($dull-lavender, $lightness: 10%) !important;
}

.tonys-pink-border {
   border-left: solid 5px color.adjust($tonys-pink, $lightness: 10%) !important;
}

.green-mist-border {
    border-left: solid 5px color.adjust($green-mist, $lightness: 10%) !important;
}

.ghostly-grey-border {
    border-left: solid 5px color.adjust($ghostly-grey, $lightness: 10%) !important;
}

.porsche-orange-border {
    border-left: solid 5px color.adjust($porsche-orange, $lightness: 10%) !important;
}

.sunflower-yellow-border {
   border-left: solid 5px color.adjust($sunflower-yellow, $lightness: 10%) !important;
}
