@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'src/variables.scss';

html {
    font-size: 16px;
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-bottom: 40px; /* Margin bottom by footer height */
}

button, input, textarea {
    font-weight: 300;
    letter-spacing: 0.5px;
    border: none;
    resize: none;

    &:focus, &:active {
        outline: none !important;
    }

    &:hover {
        cursor: pointer;
    }
}

button {
    letter-spacing: 1.5px;
}

.mat-tooltip {
    font-size: 0.9rem;
    font-weight: 300;
    color: $gallery-white !important;
    max-width: 30rem !important;
}
