// SNOMED COLOURS

// WHITES
$alto-white: #E0E0E0;
$gallery-white: #FAFAFA;
$white: #FFFFFF;

// BLUES
$pacific-blue: #009ACD;
$onahau-blue: #D2F3FE;
$sail-blue: #B0E6F8;

// REDS
$crimson-red: #D71431;
