@import 'src/variables.scss';

div.modal-content {
    div.modal-header {
        button > span {
            font-size: 2rem;
        }
    }

    div.modal-body {
        label {
            font-size: 1.4rem;
            color: $scorpion-grey;
            line-height: 1rem;
        }

        input {
            cursor: text;

            &.input-border {
                border: 1px solid $alto-white;
            }
        }

        mat-checkbox {
            position: absolute;
            top: 2px;
        }
    }

    div.modal-footer {
        button {
            font-weight: 300;
        }
    }
}
