@import '~src/variables.scss';

div#reporting {
    margin-left: 192px;

    div.accordion {
        border: 1px $alto-white solid;
        border-bottom: none;
        overflow: hidden;

        div.query {
            div.title {
                border-bottom: 1px $alto-white solid;
                background-color: $gallery-white;
                overflow: hidden;
            }

            div.content {
                div.description {
                    position: relative;

                    h4 {
                        max-width: 80%;
                    }
                }

                table {
                    position: relative;
                    border: none;

                    th {
                        font-weight: 400;
                    }

                    th:first-child {
                        border-left: none;
                    }

                    th:last-child {
                        border-right: none;
                    }

                    tr {
                        td {
                            &.completed {
                                cursor: pointer;
                                color: $forest-green;

                                &:hover {
                                    color: $apple-green;
                                }
                            }

                            &.failed {
                                cursor: pointer;
                                color: $crimson-red;

                                &:hover {
                                    color: $pomegranate-red;
                                }
                            }

                            button.delete-button {
                                display: none;
                                position: absolute;
                                top: 0.6rem;
                                right: 0;
                                background-color: transparent;
                                color: $crimson-red;

                                &:hover {
                                    color: $pomegranate-red;
                                }
                            }
                        }

                        td:first-child {
                            border-left: none;
                        }

                        td:last-child {
                            border-right: none;
                        }

                        &:hover {
                            td {
                                background-color: $gallery-white;
                                position: relative;

                                > button.delete-button {
                                    display: block;
                                }
                            }
                        }
                    }
                }

                div.last-item {
                    border-bottom: none;
                }
            }
        }
    }
}
