@import '~src/variables.scss';

div#reporting {
    margin-left: 192px;

    h3.report-title {
        font-weight: 300;
        line-height: 1.6rem;
    }

    div.accordion {
        border: 1px $alto-white solid;
        border-bottom: none;
        overflow: hidden;

        div.query {
            div.title {
                border-bottom: 1px $alto-white solid;
                background-color: $gallery-white;
                overflow: hidden;

                h4 {
                    font-weight: 300;
                }
            }

            div.content {
                div.description {
                    position: relative;

                    p {
                        max-width: 80%;
                    }

                    button {
                        font-weight: 300;
                    }
                }

                table {
                    position: relative;
                    border: none;

                    th {
                        font-weight: 400;
                    }

                    th:first-child {
                        border-left: none;
                    }

                    th:last-child {
                        border-right: none;
                    }

                    tr {
                        td {
                            &.completed {
                                cursor: pointer;
                                color: $forest-green;

                                &:hover {
                                    color: $apple-green;
                                }
                            }

                            &.failed {
                                cursor: pointer;
                                color: $crimson-red;

                                &:hover {
                                    color: $pomegranate-red;
                                }
                            }

                            button.delete-button {
                                display: none;
                                position: absolute;
                                top: 0;
                                right: -50px;
                                background-color: transparent;
                                color: $crimson-red;
                                -webkit-animation: delete-move 200ms;
                                -webkit-animation-delay: 500ms;
                                -webkit-animation-fill-mode: forwards;
                                animation: delete-move 200ms;
                                animation-delay: 500ms;
                                animation-fill-mode: forwards;

                                @-webkit-keyframes delete-move {
                                    from {
                                        right: -50px;
                                        opacity: 0;
                                    }

                                    to {
                                        right: 0;
                                        opacity: 1;
                                    }
                                }

                                @keyframes delete-move {
                                    from {
                                        right: -50px;
                                        opacity: 0;
                                    }

                                    to {
                                        right: 0;
                                        opacity: 1;
                                    }
                                }

                                &:hover {
                                    color: $pomegranate-red;
                                }
                            }
                        }

                        td:first-child {
                            border-left: none;
                        }

                        td:last-child {
                            border-right: none;
                        }

                        &:hover {
                            td {
                                background-color: $gallery-white;
                                position: relative;

                                > button.delete-button {
                                    display: block;
                                }
                            }
                        }
                    }
                }

                div.last-item {
                    border-bottom: none;
                }
            }
        }
    }
}
