<app-left-sidebar [categories]="categories" (categoryEmitter)="activeCategory = $event" (searchTextEmitter)="querySearch = $event"></app-left-sidebar>

<div id="reporting" class="footer-margin">
    <div *ngFor="let category of categories | category:activeCategory?.name">
        <div class="p-4" *ngIf="(category.jobs | category:querySearch).length !== 0">
            <h3 class="report-title">{{category.name}}</h3>
            <div class="accordion rounded">
                <div class="query" *ngFor="let query of category.jobs | category:querySearch; let first = first; let last = last">
                    <div class="title" (click)="switchActiveQuery(query)" [class.rounded-top]="first" [class.rounded-bottom]="last" [class.last-item]="last">
                        <h4 class="float-left py-3 px-3 m-0">{{query.name}}</h4>
                    </div>
                    <div class="content" *ngIf="activeQuery === query">
                        <div class="w-100 description mx-0">
                            <p class="float-left py-3 px-3 mb-0">{{query.description}}</p>
                            <div class="float-right m-2">
                                <div>{{activeQuery.whitelist | json}}</div>
                                <button class="btn btn-outline-primary whitelist-button p-2 px-3 mx-3" data-toggle="modal" data-target="#whitelistModal"
                                (click)="openModal('whitelist-modal'); whitelistSearchTerm = ''">
                                    Whitelist
                                </button>
                                <ng-container *ngIf="parametersExistCheck()">
                                    <button class="btn btn-primary p-2" data-toggle="modal" data-target="#queryModal" (click)="openModal('query-modal'); activeQuery = query">
                                        Run New Query
                                    </button>
                                </ng-container>
                                <ng-container *ngIf="!parametersExistCheck()">
                                    <button class="btn btn-primary p-2" data-toggle="modal" data-target="#queryModal" (click)="submitReport()">
                                        Run New Query
                                    </button>
                                </ng-container>
                            </div>
                        </div>

                        <table class="table table-bordered mb-0">
                            <tr>
                                <th class="pl-3">Date</th>
                                <th>Issues</th>
                                <th *ngFor="let parameter of query.parameters.parameterMap | keyvalue | displayOrder:parameter | hidden">{{parameter.key}}</th>
                                <th>Status</th>
                                <th>User</th>
                            </tr>
                            <tr *ngFor="let report of activeReportSet">
                                <td class="pl-3">{{report.requestTime}}</td>
                                <td>{{report.issuesReported ? report.issuesReported : '0'}}</td>
                                <td *ngFor="let parameter of query.parameters.parameterMap | keyvalue | displayOrder:parameter | hidden">{{parameterValue(report, parameter)}}</td>
                                <ng-container [ngSwitch]="report.status">
                                    <td *ngSwitchCase="'Complete'" class="completed" (click)="viewReport(report)">{{report.status}}<i class="fas fa-external-link-alt ml-1"></i></td>
                                    <td *ngSwitchCase="'Failed'" class="failed" matTooltip="{{report?.debugInfo}}">{{report.status}}<i class="fas fa-times-circle ml-1"></i></td>
                                    <td *ngSwitchDefault>{{report.status}}</td>
                                </ng-container>
                                <td>{{report.user}}
                                    <button class="delete-button pt-1 mt-2" (click)="openModal('delete-modal'); activeReport = report" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-minus"></i></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DELETE MODAL -->
<app-modal id="delete-modal" class="modal">
    <div header><h3 class="mb-0">Delete<span class="px-2">{{activeQuery?.name}}</span></h3></div>
    <div body>Are you sure you want to delete this report?</div>
    <div footer>
        <button type="button" class="btn btn-primary" (click)="deleteReport(); closeModal('delete-modal')">Delete Report</button>
    </div>
</app-modal>

<!-- QUERY MODAL -->
<app-modal id="query-modal" class="modal">
    <div header><h3 class="mb-0">Details<span class="px-2">{{activeQuery?.name}}</span></h3></div>
    <div body>
        <app-query-parameters [query]="activeQuery"></app-query-parameters>
    </div>
    <div footer>
        <button type="button" class="btn btn-primary" (click)="submitReport(); closeModal('query-modal')">Run Query</button>
    </div>
</app-modal>

<!-- WHITELIST MODAL -->
<app-modal id="whitelist-modal" class="modal">
    <div header><h3 class="mb-0">Whitelist<span class="px-2">{{activeQuery?.name}}</span></h3></div>
    <div body>
        <div class="position-relative">
            <label class="w-100 m-0">Add concept to whitelist</label>
            <input #textareaTypeahead class="w-100 rounded input-border px-1" [(ngModel)]="whitelistSearchTerm" (keyup)="retrieveConceptsById()">
            <app-typeahead [searchTerm]="whitelistSearchTerm" (selectEmitter)="addToWhitelistReadyConcepts($event)"></app-typeahead>
            <div class="note font-italic">Multiple hierarchies can be entered via comma separation</div>
            <div>
                <span *ngFor="let readyConcept of whitelistReadyConcepts" class="ready-concept d-inline-block px-2 m-1 ">{{readyConcept?.fsn}}</span>
            </div>
        </div>

        <table class="table table-bordered rounded mt-3 mb-0 overflow-hidden">
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            <tr *ngFor="let concept of activeQuery?.whiteList">
                <td>{{concept.sctId}}</td>
                <td>{{concept.fsn}}
                    <button class="delete-button pt-1 mt-2" (click)="removeFromWhitelist(concept)"><i class="fas fa-minus"></i></button>
                </td>
            </tr>
        </table>
    </div>
    <div footer>
        <div [@slide]="saved" class="px-3 saved">{{saveResponse}}</div>
        <button type="button" class="btn btn-primary" (click)="saveWhitelist()">Save Whitelist</button>
    </div>
</app-modal>
